.App {
  display: grid;
  grid-template-areas: 'nav' 'con';
  background-color: #EEEEEE;
}

.customBtn {
  background-color: transparent;
  color: #FF8F00;
  border-width: 0px;
  cursor: pointer;
  outline: none;
}